@media (min-width: 76.2rem) {
    .md-sidebar.md-sidebar--post {
        position: fixed;
        right: 0em;
        top: 4em !important;
    }


    /* quick links */

    .md-quick {
        display: block;
        margin: 0;
        position: fixed;
        top: 9.4em;
        left: 1.4%;
    }

    .md-quick__link {
        display: inline;
        transition: 0.5s ease !important;
    }

    .md-quick__link:hover {
        color: var(--quicklink-hover-color) !important;
        transition: 0.5s ease !important;
    }

    .md-quick__link svg {
        max-height: 3em;
        vertical-align: 0em;
        margin-top: -1em;
    }

    .md-sidebar__tooltip {
        font-size: 1.5em;
        font-weight: bold;
        color: transparent;
        position: relative;
        display: block;
        line-height: 0;
        padding: 0;
        margin: 0;
        top: -1.9em;
        left: 10vw;
        transition: 0.5s ease !important;
    }


    .md-quick__link:hover+.md-sidebar__tooltip {
        color: var(--quicklink-hover-color);
        left: 2.4em;
        border-radius: 0.4em;
        padding-left: 0.3em;
        margin-right: 0.5em !important;
        transition: 0.5s ease !important;
    }


    .md-header__button.md-logo {
        position: fixed;
        top: 1.5em;
        left: 0.7vw;
        z-index: 100000000;
        transition: 0.3s ease !important;
        border-radius: 10em;
        padding: 0em;
        border: 1px solid transparent;
    }

    .md-header__button.md-logo img {
        max-width: 3.5em;
        max-height: 3.5em;
        width: 3.5em;
        height: 3.5em;
    }

    .md-header__button.md-logo:hover {
        border: 1px solid white;
    }

    .md-header {
        margin-bottom: 2em;
        transition: 0.3s ease !important;
    }

    h1 {
        transition: 0.3s ease !important;
    }


    /* tabs */
    .md-tabs {
        position: fixed;
        top: 0.27rem;
        left: 0.8rem;
        transition: 0.3s ease !important;
    }

    .md-tabs__list {
        position: relative;
        text-align: left;
        transition: 0.3s ease !important;
    }

    .md-tabs__item {
        transition: 0.3s ease !important;
        opacity: 0;
    }

    .md-tabs__link {
        padding: 0.45em 1.1em;
        margin-left: 0em;
        margin-right: -0.63em;
        transition: 1s;
        color: white !important;
        opacity: 1 !important;
        transition: 0.3s ease !important;
        background-color: var(--tab-color);
        border-radius: 0.4em;
    }

    .md-tabs__link:hover {
        background-color: var(--tab-hover-color);
        border-radius: 0.4em;
        transition: 0.3s ease !important;
        /* display: */
    }

    /* .md-tabs__item.md-tabs__item--active .md-tabs__link {
        border-radius: 0.4em;
        background-color: var(--tab-active-color);
    } */

    .md-top.md-icon {
        transition: 0.3s ease !important;
        border: 1px solid #f09637;
    }

    /* ! */

    .md-sidebar.md-sidebar--primary {
        display: none;
    }

    /* secondary/left sidebar toc */
    .md-nav__title[for="__toc"] {
        background: transparent;
    }

    .md-nav__link,
    .md-nav__title {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .md-sidebar.md-sidebar--secondary {
        top: 9.5em !important;
        padding-top: 0.1em !important;
        margin-top: -8em !important;
        width: 32em;
    }

    .md-sidebar.md-sidebar--secondary .md-sidebar__inner {
        padding: 1.2em 0.5em 1.2em 0.5em !important;
        border-radius: 0.4em;
    }

    .md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap {
        top: -8.6em !important;
        position: relative;
        margin-left: -0.7em;
        margin-bottom: -6.4em;
        border-radius: 8px;
        margin-right: -3.3em;
    }

    .md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap .md-sidebar__inner {
        padding: 0.4em 1em 1em 1em;
        border-radius: 8px;
        left: 1em;
    }

    .md-sidebar.md-sidebar--secondary {
        padding-top: 1em;
        margin-top: -8em;
    }

    /* search bar */

    .md-search__form {
        width: 34.4rem;
    }

    .md-search-result__meta {
        display: none;
    }

    .md-search {
        opacity: 0;
        position: absolute;
        top: 0.1rem;
        left: 3.5rem;
        transition: 0.3s ease !important;

        /* text-align: center; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* margin-top: 6rem; */
    }

    /* .md-search__overlay {
        display: none;
    } */

    .md-search-result__article.md-typeset {
        padding-top: 10px;
    }

    .md-search__form {
        background: var(--search-background-color) !important;
    }

    .md-search__form:hover {
        filter: brightness(1.1);
    }

    .md-search-result__meta {
        background-color: var(--search-background-color) !important;
    }

    [data-md-toggle="search"]:checked~.md-header .md-search__input+.md-search__icon {
        color: white;
    }

    .md-search-result__list {
        background-color: var(--search-background-color) !important;
    }

    .md-search__scrollwrap {
        background-color: var(--search-background-color) !important;
    }

    .md-search__form {
        background-color: var(--search-background-color);
    }


    .md-search__form {
        border-radius: 0.5em !important;
        /* border-top-right-radius: 0.5em !important; */
        /* border-top-left-radius: 0.5em !important; */
    }

    .md-search__output {
        border-radius: 0.5em !important;
        margin-top: 1em;
    }

    .md-search-result__item .md-tag {
        display: none;
    }

    :not(.md-header--shadow) [dir="ltr"] .md-search-result__icon {
        top: 0.8em;
    }

    :not(.md-header--shadow) .md-search__output {
        background-color: #0c1429;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    [data-md-toggle="search"]:checked~.md-header .md-search__form {
        box-shadow: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .md-content__inner {
        transition: 0.6s ease !important;
        background-color: var(--background);
        position: relative !important;
        margin-top: -2.05rem;
        padding-left: 0.55rem !important;
        /* margin-right: 2rem !important; */
    }


    .md-container {
        left: 3rem;
        transition: 0.3s ease !important;
        z-index: 1;
    }

    .md-container,
    .md-main,
    .md-main__inner.md-grid,
    .md-content,
    .md-content__inner {
        position: relative;
        margin-left: 0rem !important;
    }

}