@media (max-width: 59.95rem) {
    .md-quick {
        display: none;
    }

    .md-header {
        display: none;
    }

    .md-post__header {
        display: none !important;
    }

    .mobile-hide {
        display: none;
    }
}