.md-grid {
  max-width: 100%;
}

.md-header.md-header--shadow {
  box-shadow: none;
  background: transparent;
}

.md-footer-meta.md-typeset {
  display: none;
}

html,
body,
.md-tabs,
.md-footer-meta,
.md-tabs__list,
.md-footer {
  background: #0E1017;
}

.moz-custom-content-container {
  background: red !important;
}
