.md-grid {
  max-width: 99%;
}

.md-header.md-header--shadow {
  box-shadow: none;
  background: transparent;
}

.md-footer-meta.md-typeset {
  display: none;
}

html,
body,
.md-tabs,
.md-footer-meta,
.md-tabs__list,
.md-footer {
  background: #0e1017;
}

.md-typeset table:not([class]) {
  background-color: hsl(228, 26%, 12%);
  border: 0.05rem solid hsl(219, 12%, 46%);
  border-radius: 0.2rem;
}
.md-typeset table:not([class]) .doc-section-item {
  transition: 200ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}
.md-typeset table:not([class]) .doc-section-item:hover {
  background-color: #0e1017 !important;
}
.md-typeset table:not([class]) td {
  border-top: 0.025rem solid hsl(219, 12%, 46%);
  padding: 0.9375em 1.25em;
  vertical-align: top;
}

.md-nav__title[for=__drawer] {
  display: none;
}

.md-nav__link,
.md-nav__title {
  background: transparent !important;
  box-shadow: none !important;
}

img,
video {
  border-radius: 0.2rem;
}


a,
.md-clipboard,
.md-dialog,
.md-content__inner,
.md-nav__item,
.md-nav__item .md-nav__link,
.md-nav__item .md-nav__link .md-ellipsis {
  transition: 256ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}

.md-dialog {
  z-index: 100000;
  border-radius: 0.2rem;
}

.md-content__inner a[href*=http]:not(.md-content__button):not(.headerlink) {
  color: rgb(131, 147, 248) !important;
  text-decoration: none !important;
  border-bottom: 1px dotted currentcolor;
}

.md-content__inner a[href*=http]:hover:not(.md-content__button):not(.headerlink) {
  color: rgb(184, 211, 251) !important;
}

.md-content__inner a[href*=http]:active:not(.md-content__button):not(.headerlink) {
  color: rgb(184, 211, 251) !important;
}

.md-content__inner a:not([href*=http]):not(.md-content__button):not(.headerlink) {
  color: hsla(30, 100%, 57%, 0.7) !important;
  border-bottom: 1px dotted currentcolor;
}

.md-content__inner a:not([href*=http]):hover:not(.md-content__button):not(.headerlink) {
  color: hsl(30, 100%, 57%) !important;
}

.md-content__inner a:not([href*=http]):active:not(.md-content__button):not(.headerlink) {
  color: hsl(30, 100%, 57%) !important;
}

p code:not(.highlight) {
  color: hsl(30, 100%, 57%);
  background: hsl(220, 18%, 17%);
  padding: 0.08rem 0.12rem;
}

.md-typeset .highlight pre {
  background-color: hsl(228, 26%, 12%) !important;
  border-radius: 0.2rem !important;
  border: none;
}

.md-typeset .highlight pre code {
  color: inherit !important;
}

.md-typeset code {
  background-color: transparent;
  box-shadow: none !important;
  padding: 0rem;
}

.md-typeset .highlight:has(td.linenos) pre {
  border: none;
}

.md-typeset .highlight:has(td.linenos) table.highlighttable {
  background: hsl(228, 26%, 12%);
}

.md-typeset .highlight:has(td.linenos) tr {
  border-radius: 0.2rem;
  border: none;
}

.md-typeset .highlight td.linenos .linenodiv span.normal {
  background: hsl(228, 26%, 12%);
}

.md-typeset .highlight .hll {
  background-color: hsla(30, 100%, 57%, 0.1);
  box-shadow: 1px 0 0 0 hsl(30, 100%, 57%) inset;
}

.md-typeset .highlight th.filename {
  background: transparent !important;
}

.md-typeset .highlight span.filename {
  background: hsl(228, 26%, 12%) !important;
  border-top-left-radius: 0.2rem !important;
  border-top-right-radius: 0.2rem !important;
}

.md-typeset .highlight table.highlighttable:has(span.filename) {
  border-radius: 0.2rem !important;
}

.doc.doc-contents details[open]:has(.highlight) {
  background-color: hsl(228, 26%, 12%) !important;
  border-color: hsl(30, 100%, 57%) !important;
}

.doc.doc-contents details[open] .highlight {
  padding: 0 !important;
  margin: 0 !important;
}

.doc.doc-contents details[open] .highlight tr {
  border: none !important;
}

.doc.doc-contents details.quote {
  padding: 0 !important;
}

.doc.doc-contents details.quote summary {
  background-color: hsl(228, 26%, 12%) !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.md-typeset .highlight td.linenos {
  background: transparent !important;
}

.md-nav__item .md-nav__link:not(.md-nav__link--active):hover {
  color: hsl(30, 100%, 57%) !important;
}

.md-nav__item .md-nav__link--active {
  color: hsl(30, 100%, 57%) !important;
}

.md-nav.md-nav--primary .md-nav__item {
  padding-left: 5px;
}

.md-nav.md-nav--primary .md-nav__item .md-nav__link:hover .md-ellipsis {
  transform: translateX(2px) !important;
}

.md-nav.md-nav--primary .md-nav__item .md-nav__link--active .md-ellipsis {
  transform: translateX(2px) !important;
}

.md-nav.md-nav--primary .md-nav__item:has(.md-nav__link--active) {
  border-left: 0.05rem solid hsl(30, 100%, 57%) !important;
}

.md-nav__list[data-md-component=toc] .md-nav__item {
  padding-left: 4px;
}

.md-nav__list[data-md-component=toc] .md-nav__item {
  border-left: 0.05rem solid transparent !important;
}

.md-nav__list[data-md-component=toc] .md-nav__item .md-nav__link:hover .md-ellipsis {
  transform: translateX(1px) !important;
}

.md-nav__list[data-md-component=toc] .md-nav__item .md-nav__link--active .md-ellipsis {
  transform: translateX(1px) !important;
}

.md-nav__list[data-md-component=toc] .md-nav__item:has(.md-nav__link--active) {
  border-left: 0.05rem solid hsl(30, 100%, 57%) !important;
}

.md-content h1 {
  margin-bottom: 0.5rem;
}

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
  padding-bottom: 0em !important;
  transition: 256ms cubic-bezier(0, 0.55, 0.45, 1) !important;
  color: #d7d7d7;
}

h1:target,
h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  color: hsl(30, 100%, 57%) !important;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
  margin-top: 0rem !important;
  margin-bottom: -0.2rem !important;
}

.md-content h1 {
  font-weight: bold !important;
  font-size: 1.8rem !important;
  color: #d7d7d7;
}

.md-content h2 {
  font-weight: normal !important;
  font-size: 1.5rem;
  color: #afabab;
}

.md-content h3 {
  font-weight: normal !important;
  font-size: 1.3rem;
  color: #afabab;
}

.md-content h4 {
  font-weight: normal !important;
  font-size: 1.2rem;
  color: #afabab;
}

.md-content h5 {
  font-weight: normal !important;
  font-size: 1.1rem;
  color: #afabab;
}

.md-content h6 {
  font-weight: normal !important;
  font-size: 1rem;
  color: #afabab;
}

h1 .headerlink {
  display: none !important;
}

.headerlink {
  transform-origin: center !important;
  transition: 256ms cubic-bezier(0, 0.55, 0.45, 1);
}

.headerlink:focus,
.headerlink:hover {
  color: hsl(30, 100%, 57%) !important;
  transform: scale(1.1) !important;
}

.headerlink:active {
  transform: scale(1.05) !important;
}

:target > .headerlink {
  color: hsl(30, 100%, 57%) !important;
  transform: scale(1.1) !important;
}

.mermaid {
  text-align: center;
}

.md-top {
  background-color: hsl(228, 26%, 12%);
  border: 0.075rem solid #d7d7d7;
  color: #d7d7d7;
  border-radius: 0.2rem;
  transition: 256ms cubic-bezier(0, 0.55, 0.45, 1) !important;
  z-index: 1000;
  box-shadow: none;
  padding: 0.4rem 0.8rem 0.4rem 0.5rem;
  top: 20px !important;
}

.md-top:hover {
  background-color: #d7d7d7;
  color: #0e1017;
  border: 0.075rem solid transparent;
}

.md-header__button.md-logo {
  transition: 500ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}

.md-clipboard {
  color: #afabab !important;
}

.md-clipboard:hover {
  color: hsl(30, 100%, 57%) !important;
}

.md-clipboard:active {
  transform: scale(0.9) !important;
}

div[id=MathJax_Message] {
  display: none !important;
}

.md-search__inner,
.md-search__inner [class^=md-search] {
  transition: 200ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}

.md-search-result__list {
  background-color: hsl(228, 26%, 12%) !important;
}

.md-search__scrollwrap {
  background-color: hsl(228, 26%, 12%) !important;
}

.md-search__form {
  background-color: hsl(228, 26%, 12%);
}

.admonition-title,
summary {
  background: #0e1017 !important;
}

details {
  transition: 256ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}

details[open] summary {
  background: #0e1017 !important;
}

.admonition-title {
  background: #0e1017 !important;
}

.md-typeset details:not([open]) {
  border: 0.075rem solid hsl(219, 12%, 46%) !important;
}

.md-typeset details {
  box-shadow: none !important;
}

.admonition {
  border: 0.075rem solid hsl(219, 12%, 46%) !important;
  background: #0e1017 !important;
}

.md-typeset .admonition,
.md-typeset details {
  background: #0e1017 !important;
}

.md-search details,
.md-search .admonition {
  border: none !important;
}

.md-post--excerpt {
  margin-bottom: 3.2rem;
  background: hsl(228, 26%, 12%);
  margin: 0.3rem 1rem 1rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}

.md-post--excerpt:hover {
  border: 1px solid hsla(30, 100%, 57%, 0.4);
  transition: 256ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}

@media screen and (min-width: 76.25em) {
  header {
    background: transparent !important;
  }
  header .md-header__title > .md-header__ellipsis {
    left: -0.5vw;
    width: 14vw;
    top: 0.25rem;
  }
  .md-header__title,
  .md-header.md-header--shadow {
    max-width: 0;
  }
  .md-header__button.md-logo,
  .md-header__ellipsis {
    display: none;
  }
  .md-search {
    top: 0.2rem;
    right: 1.05rem;
  }
  [data-md-toggle=search]:checked ~ .md-header .md-search__inner {
    width: 50vw;
  }
  [data-md-toggle=search]:checked ~ .md-header .md-search__scrollwrap {
    width: 50vw;
  }
  .md-main__inner.md-grid .md-content {
    margin-top: -4.7rem;
  }
  .md-sidebar.md-sidebar--primary {
    margin-top: -80px !important;
  }
  .md-sidebar.md-sidebar--secondary {
    margin-top: -100px !important;
    top: 30px !important;
  }
  .md-sidebar.md-sidebar--primary {
    top: 25px !important;
  }
  .md-sidebar.md-sidebar--secondary .md-sidebar__scrollwrap {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .md-sidebar.md-sidebar--secondary .md-nav__title {
    display: none;
  }
  .md-sidebar.md-sidebar--primary .md-sidebar__scrollwrap {
    margin-left: 0rem;
  }
  .md-sidebar.md-sidebar--primary .md-sidebar__scrollwrap .md-sidebar__inner {
    padding-right: calc(100% - 12rem);
  }
}
@media screen and (min-width: 60em) {
  [data-md-toggle=search]:checked ~ .md-header .md-search__overlay {
    transition: width 0ms, height 0ms, opacity duration-normal !important;
  }
  .md-search__form {
    background: hsl(228, 26%, 12%) !important;
    border-radius: 0.2rem;
    transition: 500ms cubic-bezier(0, 0.55, 0.45, 1) !important;
  }
  .md-search__form .md-search__input {
    border: 0.075rem solid transparent;
    border-radius: 0.2rem;
    transition: 500ms cubic-bezier(0, 0.55, 0.45, 1) !important;
  }
  [data-md-toggle=search]:not(:checked) ~ .md-header .md-search__form:hover .md-search__input {
    border: 0.075rem solid hsla(30, 100%, 57%, 0.4);
  }
  [data-md-toggle=search]:checked ~ .md-header .md-search__form,
  [data-md-toggle=search]:checked ~ .md-header .md-search__input {
    border-radius: 0.2rem;
  }
  [data-md-toggle=search]:checked ~ .md-header .md-search__input {
    border: 0.075rem solid hsl(30, 100%, 57%);
  }
  .md-search-result__meta {
    background-color: hsl(228, 26%, 12%);
  }
  [data-md-toggle=search]:checked ~ .md-header .md-search__input + .md-search__icon {
    color: hsl(30, 100%, 57%);
  }
  [data-md-toggle=search]:checked ~ .md-header .md-search__output {
    margin-top: 6px !important;
    border-radius: 0.2rem;
    border: 0.075rem solid hsl(219, 12%, 46%);
  }
}
@media screen and (max-width: 76.25em) {
  .md-header {
    background: hsl(228, 26%, 12%);
  }
  .md-header__title > .md-header__ellipsis {
    display: none;
  }
}
.invert,
img[src*=".invert.png"],
img[src*=".invert.jpg"],
img[src*=".invert.jpeg"],
img[src*=".invert.pdf"],
img[src*=".invert.svg"] {
  filter: invert(96%) saturate(100%) hue-rotate(200deg) brightness(115%) contrast(100%) !important;
}

.accent.text {
  color: var(--accent) !important;
}
